<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personajes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    <ion-item-divider>
      <ion-label> Personajes vivos</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of alive">
      <ion-avatar>
        <img alt="test" src="{{item.image}}" />
      </ion-avatar>
      <ion-label class="ion-margin-start">{{item.name}}</ion-label>
      <ion-chip class="ion-margin-start">{{item.species}}</ion-chip>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label> Personajes muertos</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of dead">
      <ion-avatar>
        <img alt="test" src="{{item.image}}" />
      </ion-avatar>
      <ion-label class="ion-margin-start">{{item.name}}</ion-label>
      <ion-chip class="ion-margin-start">{{item.species}}</ion-chip>
    </ion-item>
  </ion-item-group>
</ion-content>
