<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Episodios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <section *ngIf="!isLoading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Episodios</ion-card-title>
        <ion-card-subtitle>Lista</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of episodes.results">
            <ion-badge slot="start">{{item.episode}}</ion-badge>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
